#search-bar
{
	padding-left:30px;
	cursor: pointer;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    text-align: left;
}
.topheading{
	padding-left:40px;
	padding-top: 12px;
	padding-bottom: 7px;
	font-family: cursive;
	font-size: 27px;
	font-weight: 900;
}					
.heading a{
	padding-left:40px;
	font-family:serif;
	font-size:20px;
}
.heading img{
	border-radius: 21%;
	margin-left:12px;
	margin-bottom: -8px;
	margin-top: 6px;
}
.texts {
	padding-left:40px;
	padding-bottom:10px;
	font-size:21px;
	height:55px;
	overflow:hidden;
	position:relative;
}
.open{
	max-height:500px;
	transition:0.5s;
	padding-left:40px;
	padding-bottom:10px;
	font-size:21px;
	position:relative;
}
.close{
	transition:0.5s;
	padding-left:40px;
	padding-bottom:10px;
	font-size:21px;
	height:55px;
	overflow:hidden;
	position:relative;
}
.show-more{
	margin-left:40px;
	background-color:lightskyblue;
	font-size:20px;
	margin-bottom:10px;
}
.sportsheading{
	padding-bottom:10px;
	padding-left:40px;
	padding-top:10px;
}
